@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
$gradient: linear-gradient(95deg, 
rgba(133,63,55,1) 0%, rgba(133,55,86,1) 10%, rgba(228,178,0,1) 20%, 
rgba(255,139,0,1) 30%, rgba(127,141,64,1) 40%, rgba(79,141,64,1) 50%, 
rgba(86,181,144,1) 60%, rgba(112,181,144,1) 70%, rgba(33,150,172,1) 80%, 
rgba(26,64,164,1) 90%, rgba(0,0,0,1) 100%);

.Card {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
  transition: background-position 2s ease-out;
  background-image: $gradient;
  background-position: 71%;
  background-size: 1000%;

  .Card-loading {
    color: black;
    width: 4em;
    height: 4em;
    animation: 1.5s spin infinite ease;
    border: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 50%;
  }
  .Card-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  .Card-time-display{
    font-size: 2rem;
    }

  .btn{
    cursor: pointer;
    display: inline;
    color: white;
    border: none;
    background-color: transparent;
    opacity: 0.75;
    transition-duration: 200ms;

  }
  .btn:hover{
    opacity: 1;
    color: white;
    transform: scale(1.1);
  }
}
.Card-time{
  flex-direction: row;
}

}
.hot {
  background-position: 25%;
}
.rainy {
  background-position: 75%;
}
.mild {
  background-position: 50%;
}
.cold {
  background-position: 90%;
}
.storm {
  background-position: 0%;
}
