.Card-date-container{
  display: flex;
  flex-direction: row;
  margin: 2rem;

.Card-day{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  border-right: 3px solid white;
  padding-right: 1rem;
  h2,
  p{
    width:100%;
  }

}
    .Card-date{
      padding-left: 1rem;
    }
}
@media(max-width:1199px){
  .Card-date-container{
  margin: 6rem 2rem 0 2rem;
  }
}